<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Availabook</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'homepage/img/group.png' %}">

    <!-- Bootstrap Core CSS -->
    {% load static %}
    <link href="{% static 'homepage/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    {% load static %}
    <link href="{% static 'homepage/css/landing-page.css' %}" rel="stylesheet">
    {% load static %}
    <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet">
    {% load static %}
    <link href="{% static 'homepage/css/custom.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    {% load static %}
    <link href="{% static 'homepage/fonts/css/font-awesome.css' %}" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>


<!-- Navigation -->
  <div class="navbar navbar-blue navbar-static-top">
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <!-- <a href="/" class="navbar-brand logo">AB</a> -->
                      <a href="/availabook" class="navbar-brand topnav" onclick="fbLogoutUser();" display="inline-block" style="margin-top:11px"><font color="white">Availabook</font></a>
                    </div>
                    <nav class="collapse navbar-collapse" role="navigation">
                    <form class="navbar-form navbar-left">
                        <div class="input-group input-group-sm" style="max-width:360px;">
                          <input type="text" class="form-control" placeholder="Search" style="margin-top:4px;" name="srch-term" id="srch-term">
                          <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" style="margin-top:4px;"><i class="glyphicon glyphicon-search"></i></button>
                          </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                      <li>
                        <a style="font-size:15px;" href="/availabook/home"><i class="glyphicon glyphicon-home" style="font-size:22px;"></i> Home</a>
                      </li>
                      <li>
                        <a href="#postModal" style="font-size:15px;" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus" style="font-size:22px;"></i> Post</a>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="/availabook/profile" style="font-size:22px;"><i class="glyphicon glyphicon-user"></i></a>
                        <!-- <ul class="dropdown-menu">
                          <li><a href="">More</a></li>
                          <li><a href="">More</a></li>
                          <li><a href="">More</a></li>
                          <li><a href="">More</a></li>
                          <li><a href="">More</a></li>
                        </ul> -->
                      </li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
          {% if not logedin %}
          <button id="home_login_btn" style="margin-top:11px;margin-right:20px;" onclick="document.getElementById('login').style.display='block'"  class="btn btn-default btn-sm"><i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Login</span></button>
          {% endif %}

          {% if not logedin %}
          <button id="home_signup_btn" style="margin-bottom:-3px;margin-right:20px;" onclick="document.getElementById('signup').style.display='block'"  class="btn btn-default btn-sm"><i class="fa fa-cloud fa-fw"></i> <span class="network-name">Sign up</span></button>
          {% endif %}
      <!-- <form class="form-inline">
        <a href="{% url 'availabook:logout' %}" style="color:white">Logout</a> {% csrf_token %}
      </form> -->
          {% if logedin %}
          <button id="home_logout_btn" style="margin-bottom:5px;margin-right:19px;" class="btn btn-default" onclick="fbLogoutUser();"><i class="fa fa-rocket fa-fw"></i> <span class="network-name">Logout</span></button>

<!--           <form action="/availabook/profile">
          <button style="margin-bottom:5px;margin-right:19px;" class="btn btn-default" ><i class="fa fa-rocket fa-fw"></i> <span class="network-name">Profile</span></button></form> -->
           <!-- <div id="home_logout_btn" class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="True" data-use-continue-as="false"></div>
                    </div> -->

          <button id="home_logout_btn" style="margin-top:10px;margin-right:19px;" class="btn btn-default btn-sm" onclick="fbLogoutUser();"><i class="fa fa-rocket fa-fw"></i> <span class="network-name">Logout</span></button>

          {% endif %}
        </ul>

                    </nav>
                </div>

<body>
<script>

   // This is called with the results from from FB.getLoginStatus().
  // function statusChangeCallback(response) {
  //   console.log('statusChangeCallback');
  //   console.log(response);
  //   // The response object is returned with a status field that lets the
  //   // app know the current login status of the person.
  //   // Full docs on the response object can be found in the documentation
  //   // for FB.getLoginStatus().
  //   if (response.status === 'connected') {
  //     // Logged into your app and Facebook.
  //     testAPI();
  //   } else {
  //     console.log("else: not connected")
  //     // The person is not logged into your app or we are unable to tell.
  //     document.getElementById('status').innerHTML = 'Please log ' +
  //       'into this app.';
  //   }
  // }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  // function checkLoginState() {
  //   console.log("here");
  //   FB.getLoginStatus(function(response) {
  //     statusChangeCallback(response);
  //   });
  // }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '369715696758161',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  // FB.getLoginStatus(function(response) {
  //   statusChangeCallback(response);
  // });


  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=369715696758161";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  // function testAPI() {
  //   console.log('Welcome!  Fetching your information.... ');
  //   FB.api('/me?fields=email,age_range,timezone,locale, name,first_name, last_name, picture', function(response) {
  //     console.log(response);
  //     console.log('Successful login for: ' + response.name);
  //   });
  // }

  function fbLogoutUser() {
    FB.getLoginStatus(function(response) {
        console.log("getLoginStatus");
        if (response && response.status === 'connected') {
            FB.logout(function(response) {
              console.log("logging out");
              FB.Auth.setAuthResponse(null, 'unknown');
              document.location.reload();
            });
        }
    });
}


</script>

  <!--post modal-->
  <div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            Post Your Events
        </div>
        <div class="modal-body">
          <form class="form center-block">
            <div class="form-group">
              <textarea class="form-control input-lg" autofocus="" placeholder="What do you want to share?" id="post_content"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div style="text-align: left">
            <label>Date and Time: </label>
            <input id="dateandtime" type="datetime-local"/>
          </div>
          <br>
          <div>
            <ul class="pull-left list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
            <button id="post_btn" class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Post</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>

  <div id="login" class="modal">
    <div class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>
      <div class="container">
        <label><b>Email Address</b></label>
        <br>
        <input type="text" placeholder="Email Address" id="login_id" required>
        <br>
        <label><b>Password</b></label>
        <br>
        <input type="password" placeholder="Password" id="login_psw" required>
        <br>
        <button type="submit" id="login_btn" style="margin-right:137px" class="subbtn">Login</button>
        <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </div>


  <div id="signup" class="modal">
    <!-- <form method = "POST" class="modal-content animate" action = "{% url 'availabook:signup' %}"> {% csrf_token %} -->
    <div class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('signup').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>
      <div class="container">
        <label><b>Email Address</b></label>
        <br>
        <input type="text" placeholder="Email Address" id="signup_email" required>
        <br>
        <label><b>Password</b></label>
        <br>
        <input type="password" placeholder="Password" id="signup_psw" required>
        <br>
        <label><b>Verify Password</b></label>
        <br>
        <input type="password" placeholder="Password" id="signup_psw_a" required>
        <br>
        <label><b>First Name</b></label>
        <br>
        <input type="text" placeholder="First Name" id="signup_fn" required>
        <br>
        <label><b>Last Name</b></label>
        <br>
        <input type="text" placeholder="Last Name" id="signup_ln" required>
        <br>
        <label><b>Age</b></label>
        <br>
        <input type="text" placeholder="Integer" id="signup_age" required>
        <br>
        <label><b>City</b></label>
        <br>
        <input type="text" placeholder="City" id="signup_city" required>
        <br>
        <label><b>Zipcode</b></label>
        <br>
        <input type="text" placeholder="Zipcode" id="signup_zipcode" required>
        <br>
        <button type="submit" id="signup_btn" style="margin-right:133px" class="subbtn">Sign up</button>
        <button type="button" onclick="document.getElementById('signup').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </div>


      <div class="container" id="events_containter" style="padding-top:60px">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Post Wall</h3>
              </div>
              <div class="panel-body">
                <form method="POST" action="{% url 'availabook:post_event' %}"> {% csrf_token %}
                  <div class="form-group">
                    <textarea class="form-control" name="post_content" placeholder="Share your events on the wall..."></textarea>
                  </div>
                  <div class="pull-left">
                    <label>Date and Time: </label>
                    <input name="dateandtime" type="datetime-local" />
                    <button type="submit" class="btn btn-default">Post</button>
                  </div>
                  <div class="pull-right">
                    <div class="btn-toolbar">
                      <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i>Text</button>
                      <button type="button" class="btn btn-default"><i class="fa fa-file-image-o"></i>Image</button>
                      <button type="button" class="btn btn-default"><i class="fa fa-file-video-o"></i>Video</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <ul>
            {% for event in event_list %}
            <li>
              <div class="panel panel-default post">
                <div class="panel-body">
                   <div class="row">
                     <div class="col-sm-2">
                     {% load static %}
                       <a href="profile.html" class="post-avatar thumbnail"><img src="{% static 'homepage/img/user.png' %}" alt=""><div class="text-center">DevUser1</div></a>
                       <div class="faves text-center">{{ event.fave_num }}-likes</div>
                     </div>
                     <div class="col-sm-10">
                       <div class="bubble">
                         <div class="pointer">
                           <p>{{ event.content }}</p>
                         </div>
                         <div class="pointer-border"></div>
                       </div>
                       <form method="POST" action="{% url 'availabook:get_fave' %}"> {% csrf_token %}
                        <p class="post-actions" ><button name="fave" type="submit" value={{event.EId}}>like</button></p>
                        </form>
                       <div class="comment-form">
                         <form class="form-inline"> {% csrf_token %}
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="enter comment">
                          </div>
                          <button type="submit" class="btn btn-default">Add</button>
                        </form>
                       </div>
                       <div class="clearfix"></div>

                       <div class="comments">
                         <div class="comment">
                         {% load static %}
                           <a href="#" class="comment-avatar pull-left"><img src="{% static 'homepage/img/user.png' %}" alt=""></a>
                           <div class="comment-text">
                             <p>I am just going to paste in a paragraph, then we will add another clearfix.</p>
                           </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="comment">
                           <a href="#" class="comment-avatar pull-left"><img src="{% static 'homepage/img/user.png' %}" alt=""></a>
                           <div class="comment-text">
                             <p>I am just going to paste in a paragraph, then we will add another clearfix.</p>
                           </div>
                         </div>
                         <div class="clearfix"></div>
                       </div>
                     </div>
                   </div>
                </div>
              </div>
              </li>
              {% endfor %}
              </ul>






    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Availabook 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    {% load static %}
    <script src= "{% static 'homepage/js/bootstrap.js' %}"></script>
    {% load static %}
    <script src= "{% static 'homepage/js/availabook.js' %}"></script>
    {% load static %}
    <script src= "{% static 'homepage/js/csrf.js' %}"></script>


  </body>
</html>
