<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Availabook</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/group.png' %}">

    <!-- Bootstrap Core CSS -->
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    {% load static %}
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    {% load static %}
    <link href="{% static 'fonts/css/font-awesome.css' %}" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>


    <!-- Navigation -->
  <nav top="0" class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand topnav" href="#">Availabook</a>
      </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
            <!-- /.navbar-collapse -->
    </div>
        <!-- /.container -->
  </nav>

<body>
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Availabook</h1>
                        <h3>A Social Network Website</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <button id="home_login_btn" onclick="document.getElementById('login').style.display='block'"  class="btn btn-default btn-lg"><i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Login</span></button>
                            </li>
                            <li>
                                <button id="home_signup_btn" onclick="document.getElementById('signup').style.display='block'"  class="btn btn-default btn-lg"><i class="fa fa-cloud fa-fw"></i> <span class="network-name">Sign up</span></button>
                            </li>
                            <li>
                              <form action="/availabook/home">
                                <button id="visitor_btn" class="btn btn-default btn-lg"><i class="fa fa-coffee fa-fw"></i> <span class="network-name">Visitor</span></button>
                              </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.container -->

    <div id="login" class="modal">
      <div class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container">
          <label><b>Email Address</b></label>
          <br>
          <input type="text" placeholder="Email Address" id="login_id" required>
          <br>
          <label><b>Password</b></label>
          <br>
          <input type="password" placeholder="Password" id="login_psw" required>
          <br>
          <button type="submit" id="login_btn" style="margin-right:137px" class="subbtn">Login</button>
          <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
      </div>
    </div>

    <div id="signup" class="modal">
      <div class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('signup').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container">
          <label><b>Email Address</b></label>
          <br>
          <input type="text" placeholder="Email Address" id="signup_email" required>
          <br>
          <label><b>Password</b></label>
          <br>
          <input type="password" placeholder="Password" id="signup_psw" required>
          <br>
          <label><b>Verify Password</b></label>
          <br>
          <input type="password" placeholder="Password" id="signup_psw_a" required>
          <br>
          <label><b>First Name</b></label>
          <br>
          <input type="text" placeholder="First Name" id="signup_fn" required>
          <br>
          <label><b>Last Name</b></label>
          <br>
          <input type="text" placeholder="Last Name" id="signup_ln" required>
          <br>
          <label><b>Age</b></label>
          <br>
          <input type="text" placeholder="Integer" id="signup_age" required>
          <br>
          <label><b>City</b></label>
          <br>
          <input type="text" placeholder="City" id="signup_city" required>
          <br>
          <label><b>Zipcode</b></label>
          <br>
          <input type="text" placeholder="Zipcode" id="signup_zipcode" required>
          <br>
          <button type="submit" id="signup_btn" style="margin-right:133px" class="subbtn">Sign up</button>
          <button type="button" onclick="document.getElementById('signup').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
      </div>
    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">A New World<br>and Events</h2>
                    <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>

                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    {% load static %}
                    <img class="img-responsive" src="{% static 'img/events.jpg' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">A Wonderful Life<br>with Friends</h2>
                    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    {% load static %}
                    <img class="img-responsive" src="{% static 'img/dog.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">An Awesome Place<br>of Interests</h2>
                    <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    {% load static %}
                    <img class="img-responsive" src="{% static 'img/interests.png' %}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Availabook:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <button id="home_login_btn" onclick="document.getElementById('login').style.display='block'"  class="btn btn-default btn-lg"><i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Login</span></button>
                        </li>
                        <li>
                            <button id="home_signup_btn" onclick="document.getElementById('signup').style.display='block'"  class="btn btn-default btn-lg"><i class="fa fa-cloud fa-fw"></i> <span class="network-name">Sign up</span></button>
                        </li>
                        <li>
                          <form action="/availabook/home">
                            <button id="visitor_btn" class="btn btn-default btn-lg"><i class="fa fa-coffee fa-fw"></i> <span class="network-name">Visitor</span></button>
                          </form>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Availabook 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    {% load static %}
    <script src= "{% static 'js/bootstrap.js' %}"></script>
    <script src= "{% static 'js/availabook.js' %}"></script>

</body>

</html>
